{% extends 'base.html.twig' %}

{% form_theme formFilms 'bootstrap_4_layout.html.twig'%}

{% block body %}

	<h3> Création d'un Film</h3>
	{{ form_start(formFilms)}}

	

	{{ form_row(formFilms.title,{'attr':{'placeholder':"Titre du film"}}) }}
	{{ form_row(formFilms.category) }}
	{{ form_row(formFilms.content,{'attr':{'placeholder':"Résumé du film"}}) }}
	{{ form_row(formFilms.image,{'attr':{'placeholder':"Url de l'image"}}) }}

	<button type="submit" class="btn-success"> 
		

			Ajouter film
			

	</button>
	
		

	{{ form_end(formFilms)}}
	
{% endblock %}