{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
{% for flashMessage in app.session.flashBag.get('notice') %}
		<div class="alert alert-success">
			{{flashMessage}}
		</div>
{% endfor %}

<section class="Film">

	{%for film in films %}
	<film>	
		<h2> {{ film.title }}</h2>
		<div class="metadata">{{ film.createAt | date('d/m/Y') }} à {{ film.createAt | date('H:i') }} </div>
		<div class="content">
			<img src="{{ film.image }}" alt "">
			{{ film.content | raw }}

			<a href="{{ path('film_one', { 'id':film.id}) }}" class="btn btn-primary"> Lire la suite </a>
		</div>
	</film>
	{% endfor %}
</section>


{% endblock %}
